/kxmall/.idea
/*.iml
/kxmall/kxmall-admin/target
/kxmall/kxmall-admin-api/target
/kxmall/kxmall-app-api/target
/kxmall/kxmall-common/target
/kxmall/kxmall-framework/target
/kxmall/kxmall-generator/target
/kxmall/kxmall-system/target
/kxmall/logs/*.log
/kxmall/*.log
/kxmall/*.gz
/kxmall/kxmall-admin/kxmall-admin.iml
/kxmall/kxmall-admin-api/kxmall-admin-api.iml
/kxmall/kxmall-admin-api/*.iml
/kxmall/kxmall-app-api/*.iml
/kxmall/kxmall-common/kxmall-common.iml
/kxmall/kxmall-framework/kxmall-framework.iml
/kxmall/kxmall-generator/kxmall-generator.iml
/kxmall/kxmall-system/kxmall-system.iml
/front/kxmall-admin-ui/node_modules